


.flex-row-e {
  position: absolute;
  width: 1308px;
  height: 555px;
  top: 192px;
  left: 52px;
  z-index: 64;
}
.rectangle-4 {
  position: absolute;
  width: 15px;
  height: 555px;
  top: 0;
  left: 1293px;
  background: #978f8f;
  z-index: 14;
  border-radius: 15px;
}
.solar-list-line-duotone {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 7px;
  left: 1228px;
  z-index: 64;
  overflow: hidden;
}
.group {
  position: relative;
  width: 33.333px;
  height: 20.833px;
  margin: 14.583px 0 0 8.333px;
  z-index: 65;
  overflow: visible auto;
}

.vector-6 {
  position: relative;
  width: 24.417px;
  height: 1.5px;
  margin: 8.917px 0 0 -0.75px;
  background: url(./assets/client_side/images4/0fdd57a0-b271-4dcf-8001-1ae6559c0845.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 67;
}
.vector-7 {
  position: relative;
  width: 11.917px;
  height: 1.5px;
  margin: 8.917px 0 0 -0.75px;
  background: url(./assets/client_side/images4/e4fbded2-d138-4524-829a-e11b7f226c97.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 68;
}
.rectangle-8 {
  position: absolute;
  width: 346px;
  height: 233px;
  top: 301px;
  left: 0;
  font-size: 0px;
  background: #ffffff;
  z-index: 11;
  border-radius: 0 0 20px 20px;
}
.publie-par {
  display: block;
  position: relative;
  height: 30px;
  margin: 3px 0 0 11px;
  color: #847d7d;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 435;
  line-height: 21.784px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 280px;
  height: 49px;
  margin: 0 0 0 11px;
  z-index: 22;
}
.ellipse-9 {
  flex-shrink: 0;
  position: relative;
  width: 57px;
  height: 49px;
  background: url(./assets/client_side/images4/e5ead3a8-e35a-4b84-8096-dccaf8ee57c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.yasmine-gannouni {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #847d7d;
  font-family: Inter, var(--default-font-family);
  font-size: 23px;
  font-weight: 569;
  line-height: 27.835px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.une-petite-visite {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 298px;
  height: 72px;
  margin: 17px 0 0 27px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 373;
  line-height: 15.733px;
  text-align: justified;
  z-index: 60;
}
.flex-row-e-a {
  position: relative;
  width: 315px;
  height: 30px;
  margin: 25px 0 0 14px;
  z-index: 49;
}
.rectangle-b {
  position: absolute;
  width: 183px;
  height: 30px;
  top: 0;
  left: 0;
  background: #d9d9d9;
  z-index: 49;
  overflow: hidden;
  border-radius: 10px;
}
.commentaire {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 6px;
  left: 13px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 373;
  line-height: 15.733px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.vector-c {
  position: absolute;
  width: 5.12%;
  height: 41.67%;
  top: 33.33%;
  left: 88.52%;
  background: url(./assets/client_side/images4/904d510a-4687-433d-9e32-9ad627a8181d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 56;
}
.iconamoon-star-thin {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 192px;
  z-index: 47;
  overflow: hidden;
}
.vector-d {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/1af9e5f2-4278-42e7-bcfe-aa62014fd320.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.icon-star-thin {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 222px;
  z-index: 45;
  overflow: hidden;
}
.vector-e {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/5c846350-8292-43a4-964c-cdbf3c792b5b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 46;
}
.icon-star-thin-f {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 252px;
  z-index: 43;
  overflow: hidden;
}
.vector-10 {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/11381af3-e90c-4d4b-bcde-5f14cfdc85c6.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 44;
}
.icon-star-thin-11 {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 282px;
  z-index: 25;
  overflow: hidden;
}
.vector-12 {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/34ac9c49-fafc-46cb-986b-ecc3579aa6b9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
}
.rectangle-13 {
  position: absolute;
  width: 346px;
  height: 233px;
  top: 301px;
  left: 454px;
  font-size: 0px;
  background: #ffffff;
  z-index: 12;
  border-radius: 0 0 20px 20px;
}
.published-by {
  display: block;
  position: relative;
  height: 30px;
  margin: 0 0 0 12px;
  color: #847d7d;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 435;
  line-height: 21.784px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 279px;
  height: 49px;
  margin: 3px 0 0 12px;
  z-index: 23;
}
.ellipse-14 {
  flex-shrink: 0;
  position: relative;
  width: 57px;
  height: 49px;
  background: url(./assets/client_side/images4/29b63791-4b84-4b34-9f73-cfe0eac3e601.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.mohamed-abidi {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #847d7d;
  font-family: Inter, var(--default-font-family);
  font-size: 23px;
  font-weight: 569;
  line-height: 27.835px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.small-walk-with-chaochao {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 298px;
  height: 72px;
  margin: 20px 0 0 27px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 373;
  line-height: 15.733px;
  text-align: justified;
  z-index: 61;
}
.flex-row-cbf {
  position: relative;
  width: 316px;
  height: 30px;
  margin: 22px 0 0 17px;
  z-index: 50;
}
.rectangle-15 {
  position: absolute;
  width: 183px;
  height: 30px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #d9d9d9;
  border: none;
  z-index: 50;
  border-radius: 10px;
}
.comment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 6px;
  left: 22px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 373;
  line-height: 15.733px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.vector-16 {
  position: absolute;
  width: 5.12%;
  height: 41.67%;
  top: 33.33%;
  left: 90.71%;
  background: url(./assets/client_side/images4/7431bf96-665f-4f24-847d-4e0f5a406113.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 57;
}
.icon-star-thin-17 {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 197px;
  z-index: 41;
  overflow: hidden;
}
.vector-18 {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/2a2fb6c7-35cb-45a6-a9ff-f4824a125011.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 42;
}
.star-thin {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 226px;
  z-index: 39;
  overflow: hidden;
}
.vector-19 {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/2e77522f-edd0-4927-ad91-7ff6c1aa13d5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 40;
}
.star-thin-1a {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 254px;
  z-index: 37;
  overflow: hidden;
}
.vector-1b {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/ed8f2738-b529-4517-9b11-f024f8099f0e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 38;
}
.star-thin-1c {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 283px;
  z-index: 27;
  overflow: hidden;
}
.vector-1d {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/3a953e80-34ff-449e-b038-6ca76828b3da.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 28;
}
.rectangle-1e {
  position: absolute;
  width: 346px;
  height: 233px;
  top: 301px;
  left: 914px;
  font-size: 0px;
  background: #ffffff;
  z-index: 13;
  border-radius: 0 0 20px 20px;
}
.publie-par-1f {
  display: block;
  position: relative;
  height: 30px;
  margin: 3px 0 0 12px;
  color: #847d7d;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 435;
  line-height: 21.784px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 284px;
  height: 49px;
  margin: 0 0 0 17px;
  z-index: 24;
}
.ellipse-20 {
  flex-shrink: 0;
  position: relative;
  width: 57px;
  height: 49px;
  background: url(./assets/client_side/images4/3148ca57-b7cd-47dc-b22e-f38afbe067d4.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.manar-chorfi {
  flex-shrink: 0;
  position: relative;
  height: 30px;
  color: #847d7d;
  font-family: Inter, var(--default-font-family);
  font-size: 23px;
  font-weight: 569;
  line-height: 27.835px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.petit-dejeuner {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 288px;
  height: 80px;
  margin: 15px 0 0 34px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 373;
  line-height: 15.733px;
  text-align: justified;
  z-index: 62;
}
.flex-row-cec {
  position: relative;
  width: 313px;
  height: 30px;
  margin: 19px 0 0 17px;
  z-index: 51;
}
.rectangle-21 {
  position: absolute;
  width: 183px;
  height: 30px;
  top: 0;
  left: 0;
  background: #d9d9d9;
  z-index: 51;
  overflow: hidden;
  border-radius: 10px;
}
.commentaire-22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17px;
  top: 6px;
  left: 18px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 373;
  line-height: 15.733px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.vector-23 {
  position: absolute;
  width: 5.12%;
  height: 41.67%;
  top: 33.33%;
  left: 89.07%;
  background: url(./assets/client_side/images4/c5acf152-8cd0-4294-b822-bcc9a4a4e336.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 58;
}
.star-thin-24 {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 192px;
  z-index: 35;
  overflow: hidden;
}
.vector-25 {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/8b59f59b-22f7-41eb-a28e-cbbc2e3f09bc.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 36;
}
.star-thin-26 {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 221px;
  z-index: 33;
  overflow: hidden;
}
.vector-27 {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/8a0d0571-fab2-4f9f-82d5-9b384e7f68f0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.star-thin-28 {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 251px;
  z-index: 31;
  overflow: hidden;
}
.vector-29 {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/d4915300-7081-44ba-b722-b584936892c2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.star-thin-2a {
  position: absolute;
  width: 33px;
  height: 23px;
  top: 4px;
  left: 280px;
  z-index: 29;
  overflow: hidden;
}
.vector-2b {
  position: relative;
  width: 29.771px;
  height: 20.071px;
  margin: 1.417px 0 0 1.615px;
  background: url(./assets/client_side/images4/fb896274-b0d7-459f-823f-f5feb5ffd10f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}
.right-arrow {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 540px;
  left: 161px;
  z-index: 55;
  overflow: hidden;
}
.publications-recentes {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 419px;
  height: 47px;
  top: 197px;
  left: 22px;
  color: #2409c8;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 36.307px;
  text-align: justified;
  white-space: nowrap;
  z-index: 63;
}
.flex-row-ac {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 1261px;
  height: 229px;
  top: 264px;
  left: 52px;
  z-index: 59;
}
.image {
  flex-shrink: 0;
  position: relative;
  width: 346px;
  height: 229px;
  background: url(./assets/client_side/images4/7d954cb03b83f3188f15e0b770db01efda8f0dca.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
  border-radius: 20px 20px 0 0;
}
.image-2c {
  flex-shrink: 0;
  position: relative;
  width: 347px;
  height: 227px;
  background: url(./assets/client_side/images4/2c3514bc09bae511904abfa892d5c552656c4fdc.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  border-radius: 20px 20px 0 0;
}
.image-2d {
  flex-shrink: 0;
  position: relative;
  width: 347px;
  height: 227px;
  background: url(./assets/client_side/images4/3e9c80bf85e1a2b013cecf359fcb46d090510fda.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  border-radius: 20px 20px 0 0;
}