:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.rectangle-3m {
  position: absolute;
  width: 1238px;
  height: 545px;
  top: 200px;
  left: 71px;
  font-size: 0px;
  background: #fffbfb;
  z-index: 11;
  border-radius: 20px;
}
.elargir-famille {
  display: block;
  position: relative;
  height: 54px;
  margin: 21px 0 0 29px;
  color: #082ba5;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 48.409px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.rectangle-4m {
  position: relative;
  width: 1175px;
  height: 385px;
  margin: 12px 0 0 29px;
  background: #f9f2f2;
  border: 1px solid #000000;
  z-index: 13;
}
.imagem {
  position: absolute;
  width: 402px;
  height: 321px;
  top: 0;
  left: -1px;
  background: url(../assets/images6/786c12a287546381168d464776d4ba1204d82a99.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
  border-radius: 20px 20px 0 0;
}
.prenom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 25px;
  left: 820px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.nom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 25px;
  left: 453px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.rectangle-box {
  position: absolute;
  width: 304px;
  height: 39px;
  top: 67px;
  left: 820px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 14;
  border-radius: 10px;
  box-sizing: content-box;
}
.rectangle-box-5 {
  position: absolute;
  width: 304px;
  height: 39px;
  top: 67px;
  left: 453px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 27;
  border-radius: 10px;
  box-sizing: content-box;
}
.phone-number {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 128px;
  left: 820px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 128px;
  left: 453px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.rectangle-box-6 {
  position: absolute;
  width: 304px;
  height: 39px;
  top: 175px;
  left: 453px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 15;
  border-radius: 10px;
  box-sizing: content-box;
}
.rectangle-box-7 {
  position: absolute;
  width: 304px;
  height: 39px;
  top: 175px;
  left: 820px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 17;
  border-radius: 10px;
  box-sizing: content-box;
}
.adoption-motivation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 236px;
  left: 453px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.rectangle-8 {
  position: absolute;
  width: 674px;
  height: 81px;
  top: 278px;
  left: 450px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 16;
  border-radius: 10px;
  box-sizing: content-box;
}
.bengal-cat-breed {
  position: absolute;
  width: 295px;
  height: 34px;
  top: 335px;
  left: 90px;
  cursor: pointer;
  color: #4306ef;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 435;
  line-height: 30.256px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 22;
}
.rectangle-9m {
  position: absolute;
  width: 226px;
  height: 52px;
  top: 484px;
  left: 561px;
  cursor: pointer;
  background: #a9b0f4;
  border: none;
  z-index: 24;
  border-radius: 10px;
}
.adopterm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 43px;
  top: 3px;
  left: 42px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 35px;
  font-weight: 400;
  line-height: 42.358px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.bx-right-arrow {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 500px;
  left: 146px;
  z-index: 10;
  overflow: hidden;
}
.linem {
  position: absolute;
  width: 73.027px;
  height: 5px;
  top: 350px;
  left: 0;
  background: url(../assets/images6/f75530d0-c249-43f2-a2b0-98db9e9f76d4.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.line-am {
  position: absolute;
  width: 73.027px;
  height: 5px;
  top: 561px;
  left: 0;
  background: url(../assets/images6/4ddc5f8d-a4b2-409c-90fd-b43491fb2899.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
