:root {
  --default-font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB",
    "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
}

.main-container {
  position: relative;
  width: 1477px;
  height: 768px;
  margin-left: -100px;
  margin-top: -100px;
  background: #f1d9f0;
  overflow: hidden;
}
.main-containere {
  position: relative;
  width: 1477px;
  height: 100px;
    margin-left: -100px;
  margin-top: -100px;
  margin-top: -30px;
  background: #f1d9f0;
  overflow: hidden;
}
.frame {
  position: relative;
  width: 1366px;
  height: 109px;
  margin: 0 0 0 0;
  z-index: 23;
  overflow: hidden;

}
.petc-mf {
  position: absolute;
  width: 276px;
  height: 40px;
  top: 21px;
  left: 23px;
  font-family: Inter, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 27;
}
.p {
  position: relative;
  color: #f40fb4;
  font-family: Inter, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 60.511px;
  text-align: left;
}
.et {
  position: relative;
  color: #4f4a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 60.511px;
  text-align: left;
}
.c {
  position: relative;
  color: #f40fb4;
  font-family: Inter, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 60.511px;
  text-align: left;
}
.mf {
  position: relative;
  color: #4f4a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 60.511px;
  text-align: left;
  margin-left: 50px;
}
.rectangle {
  position: absolute;
  width: 234px;
  height: 59px;
  top: 28px;
  left: 1116px;
  cursor: pointer;
  background: #db808b;
  border: none;
  z-index: 24;
  border-radius: 20px;
}
.vector {
  position: absolute;
  width: 4.25%;
  height: 31.54%;
  top: 31.19%;
  left: 10.47%;
  background: url(./assets/client_side/images/65c4334b-e237-42c9-af77-069f9ccd845a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 28;
}
.connexion {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 36px;
  top: 41px;
  left: 953px;
  color: #db808b;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30.256px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.create-account {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 42px;
  left: 1130px;
  color: #4f4a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.who-we-are {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 34px;
  top: 42px;
  left: 680px;
  color: #4f4a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30.256px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
a::after{
  .who-we-are {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 34px;
  top: 42px;
  left: 680px;
  color: #4f4a4a;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30.256px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
}
.line {
  position: absolute;
  width: 1477px;
  height: 2px;
  top: 107.25px;
  left: 0;
  background: url(./assets/client_side/images/d3a7c851-ce63-4fe3-a319-e035effe18a9.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.rectangle-1 {
  position: absolute;
  width: 568px;
  height: 96px;
  top: 186px;
  left: 114px;
  cursor: pointer;
  background: #b0abab;
  border: none;
  z-index: 1;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}
.line-2 {
  position: relative;
  width: 515.024px;
  height: 1px;
  margin: 25px 0 0 24px;
  background: url(./assets/client_side/images/db2626e4-41d3-4217-ab09-40221814d23d.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.welcome-message {
  display: block;
  position: relative;
  height: 30px;
  margin: 5px 0 0 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.line-3 {
  position: relative;
  width: 515.024px;
  height: 1px;
  margin: 9.5px 0 0 24.988px;
  background: url(./assets/client_side/images/531ee782-f456-4046-a42c-8c3d0a97286a.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.line-4 {
  position: absolute;
  width: 114px;
  height: 1px;
  top: 220px;
  left: 0;
  background: url(./assets/client_side/images/49aad50d-9c0e-48a5-a881-d6cc2f78aa53.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.line-5 {
  position: absolute;
  width: 114px;
  height: 1px;
  top: 247px;
  left: 0;
  background: url(./assets/client_side/images/cd5b19ce-fbf1-45cc-804d-1a91221f67d3.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.dfwtdi-ada-ad-ad-a-aefae {
  position: absolute;
  width: 579px;
  height: 513px;
  top: 286px;
  left: 845px;
  background: url(./assets/client_side/images/534d9c097e28bf7861ec917131c9a4aef314dbbd.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.mdi-pets {
  position: relative;
  width: 50.625px;
  height: 49.002px;
  margin: 397px 0 0 36px;
  transform: rotate(-10deg);
  z-index: 11;
  overflow: hidden;
  border-radius: 10px;
}
.vector-6 {
  position: relative;
  width: 41.732px;
  height: 37.441px;
  margin: 5.768px 0 0 4.444px;
  background: url(./assets/client_side/images/7a174a94-b4b1-4ae0-91be-c0c4e26eb67e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 12;
}
.rectangle-77 {
  position: absolute;
  width: 774px;
  height: 106px;
  top: 372px;
  left: 47px;
  cursor: pointer;
  background: #b0abab;
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}
.nous-ne-savons-vraiment {
  position: relative;
  width: 759px;
  height: 60px;
  margin: 22px 0 0 5px;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30.256px;
  text-align: center;
  z-index: 10;
}
.nbsp {
  position: relative;
  color: #e5212d;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30.256px;
  text-align: center;
}
.nous-ne-savons-vraiment-8 {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30.256px;
  text-align: center;
}
.quote {
  position: relative;
  color: #e8222e;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30.256px;
  text-align: center;
}
.space {
  position: relative;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 900;
  line-height: 30.256px;
  text-align: center;
}
.line-9p {
  position: absolute;
  width: 47px;
  height: 1px;
  top: 414px;
  left: 0;
  background: url(./assets/client_side/images/cb08ab24-1fba-46d6-aad3-9b1b0b0d75fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.line-ap {
  position: absolute;
  width: 48px;
  height: 1px;
  top: 441px;
  left: 0;
  background: url(./assets/client_side/images/2e1f5aa0-b741-4d05-9795-cf4ea8725cb9.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.mdi-pets-bp {
  position: absolute;
  width: 59.105px;
  height: 58.373px;
  top: 489.315px;
  left: 769.76px;
  transform: rotate(-30deg);
  z-index: 13;
  overflow: hidden;
  border-radius: 10px;
}
.vector-cp {
  position: relative;
  width: 47.648px;
  height: 45.711px;
  margin: 6.32px 0 0 5.722px;
  background: url(./assets/client_side/images/db670b90-3d8d-4b2b-b7cf-9559e07317cd.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.mdi-pets-dp {
  position: absolute;
  width: 50.625px;
  height: 49.002px;
  top: 560px;
  left: 781px;
  transform: rotate(-10deg);
  z-index: 15;
  overflow: hidden;
  border-radius: 10px;
}
.vector-ep {
  position: relative;
  width: 41.732px;
  height: 37.441px;
  margin: 5.768px 0 0 4.444px;
  background: url(./assets/client_side/images/322a1544-6ba5-4541-8b5f-76ed25640db7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
}
.mdi-pets-fp {
  position: absolute;
  width: 59.105px;
  height: 58.373px;
  top: 584px;
  left: 835px;
  transform: rotate(-30deg);
  z-index: 17;
  overflow: hidden;
  border-radius: 10px;
}
.vector-10p {
  position: relative;
  width: 47.648px;
  height: 45.711px;
  margin: 6.32px 0 0 5.722px;
  background: url(./assets/client_side/images/5326e9f8-a9eb-4a5f-b9cd-d4fe2171105f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
.mdi-pets-11p {
  position: absolute;
  width: 50.625px;
  height: 49.002px;
  top: 648px;
  left: 835px;
  background: url(./assets/client_side/images/4deaf752-e6f8-4c1d-8d89-038ba57ee6e9.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
  overflow: hidden;
}
.pettypets-email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 724px;
  left: 23px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 6;
}
.phone-numberp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 381px;
  height: 49px;
  top: 729px;
  left: 380px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 30.256px;
  text-align: left;
  z-index: 7;
}
